Repository thm-mni-ii/feedbacksystem, changes with the labels that .github/labeler.yml gives for each.
All labels: fbs-core: web, fbs-core: api, fbs-eat, fbs-runner: checker, checker: excel, checker: math, checker: sql, Docker, CI/CD

fix(checker.service): add missing import
  modules/fbs-core/web/src/app/service/checker.service.ts
Labels: fbs-core: web

feat(core): migrate AntiBruteForceInterceptor
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptor.kt
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/config/WebConfig.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/security/AntiBruteForceInterceptor.scala
Labels: fbs-core: api

Revert "fixed keyword highlight" (#1370)
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
Labels: fbs-core: web

update ngx-cookie-service
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/styles.scss
  modules/fbs-core/web/src/theme.scss
Labels: fbs-core: web

feat(core): add allow list to brute force protection
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptor.kt
  modules/fbs-core/api/src/main/resources/application.yml
Labels: fbs-core: api

added material icons and prism
  modules/fbs-core/web/src/styles.scss
Labels: fbs-core: web

chore(core): remove unused import
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptor.kt
Labels: fbs-core: api

fix(math-checker): disable input sound
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.ts
Labels: fbs-core: web

remove outlined cards
  modules/fbs-core/web/src/app/dialogs/export-tasks-dialog/export-tasks-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-sql-template/new-sql-template.component.html
  modules/fbs-core/web/src/app/dialogs/task-points-dialog/task-points-dialog.component.html
  modules/fbs-core/web/src/app/page-components/change-password/change-password.component.html
  modules/fbs-core/web/src/app/page-components/configuration-list/configuration-list.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/evaluation-results/evaluation-results.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
  modules/fbs-core/web/src/app/page-components/course-preview/course-preview-w-progress.component.html
  modules/fbs-core/web/src/app/page-components/course-preview/course-preview.component.html
  modules/fbs-core/web/src/app/page-components/login/login.component.html
  modules/fbs-core/web/src/app/page-components/new-course/new-course.component.html
  modules/fbs-core/web/src/app/page-components/sql-checker/sql-checker.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/tool-components/info/info.component.html
  modules/fbs-core/web/src/app/tool-components/menu-bar/menu-bar.component.html
Labels: fbs-core: web

Merge pull request from GHSA-g28r-8wg3-7349
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
Labels: fbs-core: api

[EAT] Improve code style (#1360)
  modules/fbs-eat/eat/api/analysis/analysis.py
  modules/fbs-eat/eat/api/dashboard/dashboard.py
  modules/fbs-eat/eat/api/data_table/table.py
  modules/fbs-eat/eat/api/util/analysis_util.py
  modules/fbs-eat/eat/api/util/dashboard_util.py
  modules/fbs-eat/eat/api/util/utilities.py
Labels: fbs-eat

[EAT] reduced time to convert dataframes to JSON (#1368)
  modules/fbs-eat/eat/api/analysis/analysis.py
  modules/fbs-eat/eat/api/connect/data_service.py
  modules/fbs-eat/eat/api/dashboard/dashboard.py
Labels: fbs-eat

changed filter list item to mat menu
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.scss
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.ts
Labels: fbs-core: web

refactor(api): migrates user service to kotlin
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/authentication/User.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/authorization/CourseRole.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/authorization/GlobalRole.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/UserRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/security/authentication/UserService.kt
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LegalController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/UserController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/UserService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/AuthService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/LocalLoginService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/LocalLoginServiceTest.scala
Labels: fbs-core: api

test(core): add real ip testing
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptor.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptorTest.kt
Labels: fbs-core: api

style(core): add new line add end of anti brute force interceptor test
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptorTest.kt
Labels: fbs-core: api

feat(api): updates springs security configuration.
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/config/v2/WebSecurityConfig.kt
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/config/SecurityConfig.scala
Labels: fbs-core: api

Added option to exclude IP addresses from brute force protection (#1371)
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptor.kt
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/config/WebConfig.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/security/AntiBruteForceInterceptor.scala
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptorTest.kt
Labels: fbs-core: api

feat(eat): added first calculations and graph
  modules/fbs-eat/eat/api/dashboard/dashboard.py
Labels: fbs-eat

rimraf -> latest
  modules/fbs-core/web/package-lock.json
Labels: fbs-core: web

added nested tree
  modules/fbs-core/web/src/app/model/ExcelCheckResult.ts
  modules/fbs-core/web/src/app/modules/material-components/material-components.module.ts
  modules/fbs-core/web/src/app/page-components/excel-results/excel-results.component.html
  modules/fbs-core/web/src/app/page-components/excel-results/excel-results.component.scss
  modules/fbs-core/web/src/app/page-components/excel-results/excel-results.component.ts
Labels: fbs-core: web

.github/labeler.yml:

'fbs-core: web':
    - modules/fbs-core/web/**

'fbs-core: api':
    - modules/fbs-core/api/**
    - modules/fbs-core/math-parser/**
    - runtime-images/**
    - scripts/ci/**
    - docker-compose*.yml
    - Dockerfile

'fbs-eat':
    - modules/fbs-eat/**

'fbs-runner: checker':
    - modules/fbs-runner/**

'checker: excel':
    - modules/fbs-core/api/**/excel/**

'checker: math':
    - modules/fbs-core/math-parser/**

'checker: sql':
    - modules/fbs-sql-checker/**

'Docker':
    - docker-compose*.yml
    - Dockerfile

'CI/CD':
    - .github/**
    - scripts/ci/**
