Repository thm-mni-ii/feedbacksystem, pull requests merged in 2021-12, with the labels that each got.

#596 Removing users from courses or changing their role is not possible
  web-gui/src/app/tool-components/participants/participants.component.ts
Labels: bug, web-gui

#599 Correct sorting order for course participant roles
  web-gui/src/app/model/Roles.ts
  web-gui/src/app/page-components/user-management/user-management.component.ts
  web-gui/src/app/tool-components/participants/participants.component.ts
Labels: web-gui

#604 Display the same category Names in Point-Editing and Statistics
  web-gui/src/app/page-components/course-detail/course-results/evaluation-results/evaluation-results.component.html
Labels: bug, web-gui

#603 Course results are not calculated correctly
  ws/src/main/scala/de/thm/ii/fbs/services/evaluation/EvaluationResultService.scala
  ws/src/test/scala/de/thm/ii/fbs/services/evaluation/EvaluationResultServiceTest.scala
Labels: bug, http

#607 Possibility to clean up a course
  swagger.yml
  web-gui/src/app/service/course-registration.service.ts
  web-gui/src/app/tool-components/participants/participants.component.html
  web-gui/src/app/tool-components/participants/participants.component.scss
  web-gui/src/app/tool-components/participants/participants.component.ts
  ws/src/main/scala/de/thm/ii/fbs/controller/CourseRegistrationController.scala
  ws/src/main/scala/de/thm/ii/fbs/services/persistence/CourseRegistrationService.scala
Labels: web-gui, http
