Repository thm-mni-ii/feedbacksystem, pull requests merged in 2022-11, with the labels that each got.

#904 [fbs-runner] Improve query isolation
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/DBOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/MySqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/MysqlPrivileges.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/PsqlPrivileges.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SqlPoolWithConfig.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/DBConnections.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/Secrets.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlRunnerVerticle.scala
Labels: fbs-runner: checker, Security

#850 Add DDL for SQL Runner
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SqlDdlConfig.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SqlRunArgs.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/TaskQuery.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/DBConnections.scala
Labels: checker: sql

#917 Tasks are not loaded for users that are not in the course
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CourseRegistrationService.scala
Labels: bug, fbs-core: api

#933 Updating the course semester ID does not work
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CourseController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SemesterController.scala
Labels: bug, fbs-core: api

#936 [Runner] Improve checker environment support
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/DockerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLCheckerService.scala
Labels: fbs-runner: checker

#941 [API] Sort course results alphabetically
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CourseResultService.scala
Labels: usability, fbs-core: api

#946 [Core API] Add cid to submission
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Labels: fbs-core: api

#947 Extension of the SQL Checker to cover persistent databases
  docker-compose.yml
  modules/fbs-runner/checker/src/main/resources/config.json
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/MainVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/ExtendedResultsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/DBOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/MySqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/Database.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/OutputJsonStructure.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SqlPlaygroundRunArgs.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/DBConnections.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/DBTypes.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/DatabaseInformationService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/PlaygroundDBConnections.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/ResultSetIterator.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/Secrets.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/SqlPlaygroundMode.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/HttpVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlRunnerVerticle.scala
Labels: checker: sql, SQL Playground

#942 [Excel-Checker] Refactor ExcelCheckerService
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/checker/excel/SpreadsheetCell.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/CheckerServiceFactoryService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/SpreadsheetFileService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetService.scala
Labels: checker: excel, :hammer: Refactoring

#953 [SQL-Playground] implementation of the sql playground api
  build.gradle
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/RunnerApiController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/Runner.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerDatabase.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerDbType.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerMode.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerResult.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerResultType.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerType.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerUser.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundRunnerArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundRunnerDeleteArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundRunnerResult.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/SqlPlaygroundDatabase.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/SqlPlaygroundEntity.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/SqlPlaygroundQuery.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/api/SqlPlaygroundDatabaseCreation.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/api/SqlPlaygroundQueryCreation.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/api/SqlPlaygroundResult.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/api/SqlPlaygroundResultConverter.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/LegacyToken.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/User.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/RemoteCheckerV2Service.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SqlPlaygroundDatabaseRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SqlPlaygroundEntityRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SqlPlaygroundQueryRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/UserRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/security/TokenV2Service.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/annotations/CurrentToken.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/config/ResolverConfiguration.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/converters/JpaJsonConverter.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/converters/JpaJsonNodeConverter.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/exceptions/NotFoundException.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/exceptions/UnauthorizedException.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/helpers/RestTemplateFactory.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/resolvers/LegacyTokenResolver.kt
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/resources/migrations/08_sql_playground.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/Application.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/HomeController.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
Labels: fbs-core: api

#902 extend sql input by optional number of tabs
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/bordered-container/bordered-container.component.html
  modules/fbs-core/web/src/app/page-components/bordered-container/bordered-container.component.scss
  modules/fbs-core/web/src/app/page-components/bordered-container/bordered-container.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
Labels: fbs-core: web, SQL Playground

#954 implement DB controll component
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/model/sql_playground/Database.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/test-data/databases.json
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/tsconfig.app.json
Labels: fbs-core: web, SQL Playground

#958 [SQL Playground] Error while storing larger Database Informations
  modules/fbs-core/api/src/main/resources/migrations/09_sql_playground_use_correct_datatype.sql
Labels: bug, fbs-core: api, SQL Playground

#959 docs(SQL Playground api): fix database creation method
  modules/fbs-core/api/api-docs.yml
Labels: fbs-core: api, SQL Playground

#965 add db schema component
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/model/sql_playground/Routine.ts
  modules/fbs-core/web/src/app/model/sql_playground/Trigger.ts
  modules/fbs-core/web/src/app/model/sql_playground/View.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-tables/db-scheme-tables.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-tables/db-scheme-tables.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-triggers/db-scheme-triggers.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-triggers/db-scheme-triggers.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-views/db-scheme-views.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-views/db-scheme-views.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/test-data/routines.json
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/test-data/tables.json
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/test-data/trigger.json
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/test-data/views.json
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
Labels: fbs-core: web, SQL Playground

#966 [SQL Playground] The database information is deleted if the query returns an error
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/RunnerApiController.kt
Labels: bug, fbs-core: api, SQL Playground

#963 [SQL Playground] Error while executing SQL statements with special chars
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/RemoteCheckerV2Service.kt
Labels: bug, fbs-core: api, SQL Playground

#962 [SQL Playground] Error while storing larger SQL statements
  modules/fbs-core/api/src/main/resources/migrations/10_sql_playground_fix_statement_data_type.sql
Labels: bug, fbs-core: api, SQL Playground

#973 [SQL Playground] Improve the `table/view/trigger/routines`-Routes Data types
  modules/fbs-core/api/api-docs.yml
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
Labels: fbs-runner: checker, fbs-core: api, SQL Playground

#915 [Helm] Add helm chart
  .github/CODEOWNERS
  .gitignore
  chart/.ci/update-version.ts
  chart/Chart.lock
  chart/Chart.yaml
  chart/README.md
  chart/feedbacksystem-0.1.0.tgz
  chart/generate-values.ts
  chart/templates/NOTES.txt
  chart/templates/_helpers.tpl
  chart/templates/common.yaml
  chart/templates/core.yaml
  chart/templates/digital-classroom.yaml
  chart/templates/mysql-config.yaml
  chart/templates/runner.yaml
  chart/templates/sql-checker.yaml
  chart/values.yaml
Labels: helm

#982 [SQL Playground] attach api to frontend components
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/new-db-dialog/new-db-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-db-dialog/new-db-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/new-db-dialog/new-db-dialog.component.ts
  modules/fbs-core/web/src/app/model/sql_playground/Constraint.ts
  modules/fbs-core/web/src/app/model/sql_playground/SQLExecuteResponse.ts
  modules/fbs-core/web/src/app/model/sql_playground/SQLResponse.ts
  modules/fbs-core/web/src/app/model/sql_playground/Table.ts
  modules/fbs-core/web/src/app/model/sql_playground/Trigger.ts
  modules/fbs-core/web/src/app/model/sql_playground/View.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/test-data/databases.json
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-tables/db-scheme-tables.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-tables/db-scheme-tables.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-triggers/db-scheme-triggers.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-triggers/db-scheme-triggers.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-views/db-scheme-views.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-views/db-scheme-views.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/test-data/routines.json
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/test-data/tables.json
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/test-data/trigger.json
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/test-data/views.json
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/test-tables/largeTable.json
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/test-tables/mediumTable.json
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/test-tables/smallTable.json
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.ts
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
Labels: fbs-core: web, SQL Playground

#983 [Helm] Update App version to 1.3.0
  .github/release.yml
  chart/Chart.yaml
Labels: helm, ignore-for-release

#984 [Chart] delete feedbacksystem-0.1.0.tgz
  chart/feedbacksystem-0.1.0.tgz
Labels: helm

#987 [Math-Checker] Fix string comparision
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetCheckerService.scala
Labels: checker: math

#989 Logout does not work in the approx. 10 seconds after login.
  modules/fbs-core/web/src/app/page-components/login/login.component.ts
Labels: bug, fbs-core: web

#981 [API] Export functionality for single tasks
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerApiController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerConfigurationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CourseController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/ExportController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/ResultController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/exception/InternalServerException.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/CheckrunnerConfiguration.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/CheckrunnerSubTask.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CheckrunnerConfigurationService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CheckrunnerSubTaskService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
Labels: fbs-core: api

#903 [Web] Unspecified Deadline
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/Task.ts
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
Labels: usability, fbs-core: web
