Repository thm-mni-ii/feedbacksystem, pull requests merged in 2022-10, with the labels that each got.

#762 Deadline: Change date format to European
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/app.module.ts
Labels: fbs-core: web

#815 add navbar item with empty page
  modules/fbs-core/web/src/app/app-routing.module.ts
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.ts
Labels: fbs-core: web

#817 add release notes configuration
  .github/release.yml
Labels: internal

#754 [API] Add semester field to courses
  .gitignore
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/resources/migrations/05_semester_field_added.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CourseController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SemesterController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Course.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Semester.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CourseRegistrationService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CourseService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SemesterService.scala
Labels: fbs-core: api

#826 Fix editing task check configurations
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerConfigurationController.scala
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/enums/checkerFileType.ts
  modules/fbs-core/web/src/app/page-components/configuration-list/configuration-list.component.ts
  modules/fbs-core/web/src/app/service/checker.service.ts
  modules/fbs-core/web/src/app/tool-components/dropzone/dropzone.component.ts
Labels: fbs-core: web, fbs-core: api

#837 [CI/CD] Migration should only be able to be added in sequence
  .github/workflows/fbs-core-api.yml
  scripts/ci/validate-migrations.sh
Labels: CI/CD

#839 [Web] Mark tasks as "mandatory", "bonus/additional", etc.
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/Task.ts
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
Labels: fbs-core: web

#820 [Excel-Checker] It should be possible to define multiple output fields
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/MediaInformation.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
Labels: checker: excel

#856 [API] Fixes discrepancy in API documentation
  modules/fbs-core/api/api-docs.yml
Labels: checker-api

#859 [Docker] Fix dockerfile copy statement
  modules/fbs-core/api/Dockerfile
Labels: docker

#836 [Excel-Checker] Further analysis of the existing Excel submissions
  scripts/analysis/excel/analyze.ipynb
  scripts/analysis/excel/analyze_code.py
Labels: checker: excel

#863 [Web] Frontend does not upload the selected file
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Labels: bug, prio, fbs-core: web

#827 add grid layout for sql playground page
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/bordered-container/bordered-container.component.html
  modules/fbs-core/web/src/app/page-components/bordered-container/bordered-container.component.scss
  modules/fbs-core/web/src/app/page-components/bordered-container/bordered-container.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
Labels: fbs-core: web

#874 Add kotlin support to gradle build
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/CheckerApiV2Controller.kt
Labels: fbs-core: api, checker-api

#736 Improvement for the sql checker
  .github/workflows/sql-checker.yml
  docker-compose.ci.yml
  modules/fbs-sql-checker/.dockerignore
  modules/fbs-sql-checker/.pre-commit-config.yaml
  modules/fbs-sql-checker/.pylintrc
  modules/fbs-sql-checker/Dockerfile
  modules/fbs-sql-checker/README.md
  modules/fbs-sql-checker/api/Dockerfile
  modules/fbs-sql-checker/api/Formatting.py
  modules/fbs-sql-checker/api/JSONCreator.py
  modules/fbs-sql-checker/api/Main.py
  modules/fbs-sql-checker/api/Model.py
  modules/fbs-sql-checker/api/ProAttributeChecker.py
  modules/fbs-sql-checker/api/SelAttributeChecker.py
  modules/fbs-sql-checker/api/TableChecker.py
  modules/fbs-sql-checker/api/formatting.py
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
  modules/fbs-sql-checker/api/model.py
  modules/fbs-sql-checker/api/parseDataThroughChecker.py
  modules/fbs-sql-checker/api/parse_data_through_checker.py
  modules/fbs-sql-checker/api/parser.py
  modules/fbs-sql-checker/api/pro_attribute_checker.py
  modules/fbs-sql-checker/api/sel_attribute_checker.py
  modules/fbs-sql-checker/api/table_checker.py
  modules/fbs-sql-checker/poetry.lock
  modules/fbs-sql-checker/pyproject.toml
  scripts/ci/docker-deploy.sh
Labels: checker: sql

#878 [CI] Fixing errors in the sql-checker deployment
  scripts/ci/docker-deploy.sh
Labels: CI/CD

#885 [API] Parse JSON null values as None
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/JsonWrapper.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/util/JsonWrapperTest.scala
Labels: bug, fbs-core: api, breaking-change

#887 add-result-table-for-sql-playground
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/bordered-container/bordered-container.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/test-tables/largeTable.json
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/test-tables/mediumTable.json
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/test-tables/smallTable.json
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
Labels: fbs-core: web

#884 [Web] Unspecified Deadline
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/Task.ts
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
Labels: usability, fbs-core: web

#888 runner configuration files
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/configuration-list/configuration-list.component.ts
  modules/fbs-core/web/src/app/page-components/subtask-results/subtask-results.component.ts
  modules/fbs-core/web/src/app/service/checker.service.ts
Labels: fbs-core: web

#886 Checkers not showing after creation
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
Labels: bug, fbs-core: web
