Repository thm-mni-ii/feedbacksystem, pull requests merged in 2022-08, with the labels that each got.

#611 Replace snackbar for user action confirmation with dialog
  web-gui/src/app/page-components/configuration-list/configuration-list.component.ts
  web-gui/src/app/page-components/user-management/user-management.component.ts
  web-gui/src/app/tool-components/participants/participants.component.ts
Labels: UI/UX, web-gui

#654 Improve sql-checker creation and localisation
  ws/src/main/scala/de/thm/ii/fbs/controller/CheckerConfigurationController.scala
  ws/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  ws/src/main/scala/de/thm/ii/fbs/services/checker/trait/CheckerServiceOnMainFileUpload.scala
  ws/src/main/scala/de/thm/ii/fbs/services/persistence/CheckerConfigurationService.scala
Labels: http

#671 Fix `NoUniqueBeanDefinitionException` when using bash checker
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  ws/src/main/scala/de/thm/ii/fbs/services/checker/RemoteCheckerService.scala
Labels: bug, http, checker: bash

#612 Tab component for Task result
  web-gui/src/app/app.module.ts
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
  web-gui/src/app/page-components/results/results.component.html
  web-gui/src/app/page-components/results/results.component.scss
  web-gui/src/app/page-components/results/results.component.ts
  web-gui/src/app/page-components/subtask-results/subtask-results.component.html
  web-gui/src/app/page-components/task-detail/task-detail.component.ts
  web-gui/src/app/service/submission.service.ts
Labels: usability, UI/UX, web-gui

#674 [Web-GUI] Scrollbar is shown under task tabs in chrome based browsers
  web-gui/src/app/page-components/results/results.component.scss
  web-gui/src/app/page-components/results/results.component.ts
Labels: bug, web-gui

#634 Implement interface for SQL Checker
  web-gui/package-lock.json
  web-gui/package.json
  web-gui/src/app/app-routing.module.ts
  web-gui/src/app/app.module.ts
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.scss
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
  web-gui/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  web-gui/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  web-gui/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  web-gui/src/app/model/CheckerConfig.ts
  web-gui/src/app/model/SqlCheckerResult.ts
  web-gui/src/app/model/SumUp.ts
  web-gui/src/app/model/wrongTables.ts
  web-gui/src/app/page-components/configuration-list/configuration-list.component.ts
  web-gui/src/app/page-components/course-detail/course-detail.component.html
  web-gui/src/app/page-components/course-detail/course-results/results-statistic/results-statistic.component.ts
  web-gui/src/app/page-components/course-detail/task-preview/task-preview.component.ts
  web-gui/src/app/page-components/results/results.component.html
  web-gui/src/app/page-components/results/results.component.scss
  web-gui/src/app/page-components/results/results.component.ts
  web-gui/src/app/page-components/sql-checker/sql-checker-results/sql-checker-results.component.html
  web-gui/src/app/page-components/sql-checker/sql-checker-results/sql-checker-results.component.scss
  web-gui/src/app/page-components/sql-checker/sql-checker-results/sql-checker-results.component.ts
  web-gui/src/app/page-components/sql-checker/sql-checker.component.html
  web-gui/src/app/page-components/sql-checker/sql-checker.component.scss
  web-gui/src/app/page-components/sql-checker/sql-checker.component.ts
  web-gui/src/app/page-components/subtask-results/subtask-results.component.html
  web-gui/src/app/page-components/task-detail/task-detail.component.html
  web-gui/src/app/page-components/task-detail/task-detail.component.ts
  web-gui/src/app/page-components/user-management/user-management.component.ts
  web-gui/src/app/service/sql-checker.service.ts
  web-gui/src/app/service/submission.service.ts
  web-gui/src/app/service/task.service.ts
  web-gui/src/app/tool-components/participants/participants.component.ts
Labels: web-gui, http

#676 Clean up backend log output
  ws/src/main/resources/application.yml
Labels: http

#677 Rename the master branch to main
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-test-system.yml
  ci/docker-deploy.sh
Labels: CI/CD

#678 [CI/CD] Run Dockerhub deployment on main
  .github/workflows/ci-cd.yml
Labels: CI/CD

#680 Implement interface for sql checker
  web-gui/package-lock.json
  web-gui/package.json
  web-gui/src/app/app-routing.module.ts
  web-gui/src/app/app.module.ts
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.scss
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
  web-gui/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  web-gui/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  web-gui/src/app/model/CheckerConfig.ts
  web-gui/src/app/model/SqlCheckerResult.ts
  web-gui/src/app/model/SumUp.ts
  web-gui/src/app/model/wrongTables.ts
  web-gui/src/app/page-components/course-detail/course-detail.component.html
  web-gui/src/app/page-components/course-detail/course-results/results-statistic/results-statistic.component.ts
  web-gui/src/app/page-components/sql-checker/sql-checker-results/sql-checker-results.component.html
  web-gui/src/app/page-components/sql-checker/sql-checker-results/sql-checker-results.component.scss
  web-gui/src/app/page-components/sql-checker/sql-checker-results/sql-checker-results.component.ts
  web-gui/src/app/page-components/sql-checker/sql-checker.component.html
  web-gui/src/app/page-components/sql-checker/sql-checker.component.scss
  web-gui/src/app/page-components/sql-checker/sql-checker.component.ts
  web-gui/src/app/page-components/task-detail/task-detail.component.html
  web-gui/src/app/page-components/task-detail/task-detail.component.ts
  web-gui/src/app/service/sql-checker.service.ts
Labels: web-gui

#672 Update web-gui to Angular 14
  web-gui/.eslintrc.json
  web-gui/.gitignore
  web-gui/angular.json
  web-gui/package-lock.json
  web-gui/package.json
  web-gui/src/app/app-routing.module.ts
  web-gui/src/app/dialogs/course-update-dialog/course-update-dialog.component.ts
  web-gui/src/app/dialogs/create-guest-user-dialog/create-guest-user-dialog.component.ts
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  web-gui/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
  web-gui/src/app/dialogs/spreadsheet-dialog/spreadsheet-dialog.component.html
  web-gui/src/app/dialogs/spreadsheet-dialog/spreadsheet-dialog.component.ts
  web-gui/src/app/dialogs/spreadsheet-dialog/spreadsheet/spreadsheet.component.ts
  web-gui/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  web-gui/src/app/model/Conference.ts
  web-gui/src/app/page-components/change-password/change-password.component.ts
  web-gui/src/app/page-components/course-detail/course-detail.component.html
  web-gui/src/app/page-components/course-detail/course-results/course-results.component.html
  web-gui/src/app/page-components/course-detail/course-results/evaluation-results/evaluation-results.component.html
  web-gui/src/app/page-components/my-courses/my-courses.component.html
  web-gui/src/app/page-components/my-courses/my-courses.component.ts
  web-gui/src/app/page-components/new-course/new-course.component.ts
  web-gui/src/app/page-components/results/results.component.html
  web-gui/src/app/page-components/search-courses/search-courses.component.html
  web-gui/src/app/page-components/search-courses/search-courses.component.ts
  web-gui/src/app/page-components/task-detail/submission-spreadsheet/submission-spreadsheet.component.ts
  web-gui/src/app/page-components/task-detail/task-detail.component.html
  web-gui/src/environments/environment.ts
  web-gui/src/index.html
  web-gui/src/polyfills.ts
  web-gui/src/styles.scss
  web-gui/src/theme.scss
  web-gui/tsconfig.json
  web-gui/tslint.json
Labels: dependencies, web-gui

#682 [CI/CD] run on v*.x branches
  .github/workflows/ci-cd.yml
Labels: CI/CD

#722 [Web] Frontend build fails on windows
  modules/fbs-core/web/.prettierrc.json
Labels: bug, fbs-core: web

#729 Relocate SQL-Checker from GitLab to GitHub
  modules/fbs-sql-checker/README.md
  modules/fbs-sql-checker/api/Dockerfile
  modules/fbs-sql-checker/api/Formatting.py
  modules/fbs-sql-checker/api/JSONCreator.py
  modules/fbs-sql-checker/api/Main.py
  modules/fbs-sql-checker/api/Parser.py
  modules/fbs-sql-checker/api/ProAttributeChecker.py
  modules/fbs-sql-checker/api/SelAttributeChecker.py
  modules/fbs-sql-checker/api/TableChecker.py
Labels: checker: sql

#724 [API] Frontend build does not copy dist output
  modules/fbs-core/web/angular.json
  modules/fbs-core/web/build.gradle
Labels: bug, fbs-core: api
