Repository thm-mni-ii/feedbacksystem, pull requests merged in 2022-12, with the labels that each got.

#1010 [Web] show tasks only for lecturers tutors
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/Task.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.scss
Labels: usability, UI/UX, fbs-core: web

#1044 build(deps): bump php8-pecl-mcrypt from 7 to 8 in /runtime-images/bash
  runtime-images/bash/Dockerfile
Labels: dependencies, Docker

#1043 [deps] fix dependencies
  modules/fbs-core/web/package-lock.json
Labels: dependencies, javascript

#1046 [Mathe-Checker] remove rounding of math checker input values
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetService.scala
Labels: fbs-core: api, checker: math

#1047 sql playground improvement and enhancement of the db panel
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/new-sql-template/new-sql-template.component.html
  modules/fbs-core/web/src/app/dialogs/new-sql-template/new-sql-template.component.scss
  modules/fbs-core/web/src/app/dialogs/new-sql-template/new-sql-template.component.ts
  modules/fbs-core/web/src/app/model/sql_playground/SqlTemplates.ts
  modules/fbs-core/web/src/app/model/sql_playground/TemplateCategory.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-co-working/db-control-co-working.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-co-working/db-control-co-working.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-co-working/db-control-co-working.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-tables/db-scheme-tables.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.ts
  modules/fbs-core/web/src/colors.scss
  modules/fbs-core/web/src/styles.scss
Labels: fbs-core: web, SQL Playground

#1052 sql playground submission of a task in sql playground
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
Labels: fbs-core: web

#1064 fix duplicate column bug
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.ts
Labels: fbs-core: web, SQL Playground

#1065 show table data with button click
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-tables/db-scheme-tables.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-tables/db-scheme-tables.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/styles.scss
Labels: fbs-core: web, SQL Playground

#1055 [Excel-Checker] Generatation of dependency graph for solution file
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/Cell.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/ReferenceGraph.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetReferenceParser.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/model/v2/checker/excel/ReferenceGraphTest.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetReferenceParserTest.kt
Labels: checker: excel

#783 Sql checker having
  modules/fbs-sql-checker/.pylintrc
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
  modules/fbs-sql-checker/api/model.py
  modules/fbs-sql-checker/api/sel_attribute_checker.py
Labels: checker: sql

#1069 adjust templates
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Labels: SQL Playground
