Repository thm-mni-ii/feedbacksystem, pull requests merged in 2022-09, with the labels that each got.

#734 [API] Add mongodb url to sql checker call
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/checker/RunnerConfiguration.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/checker/RunnerRequest.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/checker/SqlCheckerSubmission.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/checker/SqlRunnerSubmission.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/checker/Submission.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/checker/User.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/RemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/DockerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLCheckerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/Submission.scala
  modules/fbs-sql-checker/api/JSONCreator.py
Labels: fbs-core: api

#741 [CI] Automatically add all new issues to the github Project
  .github/workflows/add-issue-to-project.yml
Labels: CI/CD

#739 Remove Github Wiki from the options menu
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Labels: fbs-core: web

#744 [CI] Update `tibdex/github-app-token` version
  .github/workflows/add-issue-to-project.yml
Labels: CI/CD

#745 [API] The API package building process is executed before the web package is copied
  build.gradle
Labels: bug, fbs-core: api

#742 [Docker] Dockerfile and healthcheck improvements
  docker-compose.yml
  modules/fbs-core/api/Dockerfile
  modules/fbs-runner/checker/Dockerfile
  runtime-images/bash/Dockerfile
Labels: docker

#753 [API] Allow unspecified Deadlines for Tasks
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/resources/migrations/04_task_deadline_null.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/TaskService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/evaluation/EvaluationResultServiceTest.scala
Labels: fbs-core: api

#748 Link Logo to start page
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.scss
Labels: fbs-core: web

#770 Improve dialogues for deleting all users
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/text-confirm-dialog/text-confirm-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/text-confirm-dialog/text-confirm-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/text-confirm-dialog/text-confirm-dialog.component.ts
  modules/fbs-core/web/src/app/tool-components/participants/participants.component.ts
Labels: fbs-core: web

#771 No loading bar is displayed during a file upload for a submission
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Labels: fbs-core: web

#755 [Checker] Anonimize Excel submission
  scripts/analysis/excel/anonymize.ipynb
  scripts/analysis/excel/anonymize_code.py
Labels: checker: excel

#747 Refactoring of the sql checker
  modules/fbs-sql-checker/api/JSONCreator.py
  modules/fbs-sql-checker/api/Main.py
  modules/fbs-sql-checker/api/Model.py
  modules/fbs-sql-checker/api/Parser.py
  modules/fbs-sql-checker/api/SelAttributeChecker.py
  modules/fbs-sql-checker/api/TableChecker.py
Labels: checker: sql

#773 [API] Mark tasks as mandatory bonus/additional etc
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/resources/migrations/06_task_requirement_type.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/TaskService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/evaluation/EvaluationResultServiceTest.scala
Labels: fbs-core: api

#776 [CI/CD] Add a Pull request verifier
  .github/pr-title-checker-config.json
  .github/workflows/pull-request-verifier.yml
Labels: CI/CD

#765 The Excel shows an error for some of the deliveries although they are actually correct
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
Labels: bug, checker: excel

#785 [Docker] Improve Dockerfile build process
  .dockerignore
  .github/workflows/ci-cd.yml
  docker-compose.yml
  modules/fbs-core/api/Dockerfile
  modules/fbs-runner/checker/Dockerfile
Labels: docker

#791 [CI/CD] init dependabot config
  .github/dependabot.yml
Labels: dependencies, CI/CD

#789 First version for excel analysis
  scripts/analysis/excel/analyze.ipynb
  scripts/analysis/excel/analyze_code.py
Labels: checker: excel

#813 [Docker] Fix missing frontend build
  modules/fbs-core/api/Dockerfile
Labels: bug, docker
