Repository thm-mni-ii/feedbacksystem, pull requests merged in 2023-02, with the labels that each got.

#1070 [Math-Checker] Add formular comparision
  .github/CODEOWNERS
  .github/workflows/ci.yml
  codecov.yml
  docker-compose.test.yml
  modules/fbs-core/api/Dockerfile
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetCheckerService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetCheckerServiceTest.scala
  modules/fbs-core/math-parser/build.gradle
  modules/fbs-core/math-parser/src/main/antlr/de/thm/ii/fbs/mathParser/Math.g4
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/AstBuilder.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/BailingMathLexer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/MathParserException.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/MathParserHelper.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparator.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Ast.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Expr.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Num.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Operation.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Operator.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/UnaryOperation.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Var.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/BaseTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/ChainTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/CommutativeLawTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/NumberScalingTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/RemoveNeutralMultiplicationTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/SubReplacingTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/Transformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/TransformerConfig.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/MathParserHelperTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
  settings.gradle
Labels: checker-api, checker: math

#1131 [WEB] limit the number of submissions
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/Task.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Labels: fbs-core: web

#1152 Revert "[WEB] limit the number of submissions"
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/Task.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Labels: fbs-core: web

#1091 Export functionality for multiple tasks or all tasks of a course
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/ExportController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
Labels: fbs-core: api

#1154 ci(deploy-to-dockerhub): use correct branch name for tag generation
  .github/workflows/deploy-to-dockerhub.yml
Labels: CI/CD

#1155 [API] Different database and minio port for tests
  .github/workflows/check-fbs-module.yml
  docker-compose.test.yml
  modules/fbs-core/api/src/test/resources/application-test.yml
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetCheckerServiceTest.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/evaluation/EvaluationResultServiceTest.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/evaluation/FormulaServiceTest.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/CourseServiceTest.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/SubmissionServiceTest.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/TaskServiceTest.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/LocalLoginServiceTest.scala
Labels: fbs-core: api, test

#1074 [SQL-Playground] Improve Input
  modules/fbs-core/README.md
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/service/prism.service.ts
  modules/fbs-core/web/src/styles.scss
Labels: fbs-core: web, SQL Playground

#1157 [WEB] Export single task
  modules/fbs-core/web/src/app/service/task.service.ts
Labels: fbs-core: web

#1172 [Excel-Checker] Store dependency graph of solution file in database
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/CheckerApiV2Controller.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/Cell.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/ErrorAnalysisSolution.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/ReferenceEdge.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/ReferenceGraph.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/ReferenceGraphEdge.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/storage/CheckerStorageEntity.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/storage/CheckerStorageId.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ErrorAnalysisService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ErrorAnalysisSolutionService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ExcelCheckerServiceV2.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/storage/CheckerStorageService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/CheckerStorageRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/converters/ReferenceGraphDeserializer.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/converters/ReferenceGraphSerialisation.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/converters/ReferenceGraphSerializer.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetReferenceParser.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetValueParser.kt
  modules/fbs-core/api/src/main/resources/migrations/15_checker_storage.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerConfigurationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/CheckrunnerConfiguration.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/MediaInformation.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/trait/CheckerServiceOnSecondaryFileUpload.scala
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/utils/v2/converters/ReferenceGraphSerialisationTest.kt
Labels: checker: excel

#1173 [Excel-Checker] Handle null cells
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ErrorAnalysisService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetUtils.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/checker/excel/ErrorAnalysisServiceTest.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetReferenceParserTest.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetTestUtils.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetUtilsTest.kt
Labels: bug, checker: excel

#1165 [Math-Checker] Make Math-Parser transformers modular
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetCheckerService.scala
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparator.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/CommutativeLawTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/RemoveNeutralMultiplicationTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/SubReplacingTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformer/TransformerConfig.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/BaseTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/ChainTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/CommutativeLawTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/InverseElementTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/NeutralElementTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/NumberScalingTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/RuleBasedTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/SubReplacingTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/Transformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/TransformerConfig.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/rules/OperandMatchingRule.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/rules/OperationRule.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/rules/OperatorMatchingRule.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/rules/Rule.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/rules/transformers/ExprTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/rules/transformers/OperationTransformer.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/transformer/TransformerConfigTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/transformers/rules/OperandMatchingRuleTest.kt
Labels: checker: math
