Repository thm-mni-ii/feedbacksystem, pull requests merged in 2023-07, with the labels that each got.

#1323 web hide students without submissions in docent view
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.scss
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.ts
Labels: fbs-core: web

#1381 Update multiple npm dependecies
  modules/fbs-core/web/package-lock.json
Labels: fbs-core: web

#1199 [Math-Checker] Math-Editor for Submission
  modules/fbs-core/api/src/main/resources/migrations/17_additional_submission_information.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Submission.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetCheckerServiceTest.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/SubmissionServiceTest.scala
  modules/fbs-core/math-parser/build.gradle
  modules/fbs-core/math-parser/src/main/antlr/de/thm/ii/fbs/mathParser/Math.g4
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/AstBuilder.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/MathParserHelper.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparator.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Num.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/marshal/Marshal.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/marshal/MathJsonMarshal.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/MultiplicationSubTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/NegativeNumberTransformer.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/MathParserHelperTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/marshal/MathJsonMarshalTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/marshal/MathJsonUnmarshalTest.kt
  modules/fbs-core/web/angular.json
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/model/Submission.ts
  modules/fbs-core/web/src/app/page-components/task-detail/submission-spreadsheet/submission-spreadsheet.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/submission-spreadsheet/submission-spreadsheet.component.scss
  modules/fbs-core/web/src/app/page-components/task-detail/submission-spreadsheet/submission-spreadsheet.component.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
  modules/fbs-core/web/src/app/service/submission.service.ts
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.html
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.scss
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.ts
Labels: fbs-core: web, fbs-core: api, checker: math

#1399 ci(retry-codecov): Fixes an error that caused retry not to be executed
  .github/actions/retry-codecov/action.yml
Labels: CI/CD

#1401 [WEB] fix width of math task
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/task-detail/submission-spreadsheet/submission-spreadsheet.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/submission-spreadsheet/submission-spreadsheet.component.scss
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.html
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.scss
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.ts
  modules/fbs-core/web/src/app/util/css.ts
Labels: bug, UI/UX, fbs-core: web

#1413 [Math] Add support for equations
  modules/fbs-core/math-parser/src/main/antlr/de/thm/ii/fbs/mathParser/Math.g4
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/AstBuilder.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/MathParserHelper.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Operator.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/marshal/MathJsonMarshal.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/CommutativeLawTransformer.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/MathParserHelperTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/marshal/MathJsonMarshalTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/marshal/MathJsonUnmarshalTest.kt
Labels: fbs-core: api, checker: math

#1423 [Math-Checker] Use latex instead of MathJson
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetService.scala
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/AstBuilder.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/MathParserHelper.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparator.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Operator.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/ast/Text.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/marshal/LatexMarshal.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/MathParserHelperTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/marshal/LatexMarshalTest.kt
  modules/fbs-core/web/src/app/page-components/task-detail/submission-spreadsheet/submission-spreadsheet.component.html
Labels: fbs-core: web, fbs-core: api, checker: math

#1422 [WEB] remove vertical scrollbar on math task
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.ts
Labels: bug, UI/UX, fbs-core: web
