Repository thm-mni-ii/feedbacksystem, pull requests merged in 2023-05, with the labels that each got.

#1238 [API] Repair sql-checker creation
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Labels: bug, fbs-core: api

#1229 The additional information for Excel tasks is reversed
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
Labels: bug, checker: excel

#1219 [Excel Checker] Misleading error message for non-existent cells
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelException.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelService.scala
Labels: bug, checker: excel

#1073 Removing aliases in SQL Checker
  modules/fbs-sql-checker/.pylintrc
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
  modules/fbs-sql-checker/api/mask_aliases.py
  modules/fbs-sql-checker/api/parser.py
  modules/fbs-sql-checker/poetry.lock
  modules/fbs-sql-checker/pyproject.toml
Labels: checker: sql

#1258 [API] Pass sql-runner extinfo in sql-checker
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Labels: bug, fbs-core: api

#1264 add new template
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Labels: fbs-core: web

#1270 [API] Prevent NullPonterException in SqlRemoteCheckerService
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Labels: bug, fbs-core: api

#1275 [API] Repair SQL remote checker service not working with missing ext info
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
Labels: bug, fbs-core: api

#1279 [Checker] Improve syntax error messages
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlRunnerVerticle.scala
Labels: checker: sql, checker-api

#1183 [API] Allow Users to Download the Submitted files
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerApiController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerConfigurationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CourseController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Submission.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/RemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/SpreadsheetFileService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/export/TaskExportService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/CourseResultService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/MinioService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/FsStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/MinioStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/StorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/Archiver.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/SubmissionServiceTest.scala
Labels: fbs-core: api

#1265 [WEB] Add submission query in result table
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.html
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.ts
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.scss
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
  modules/fbs-core/web/src/app/service/submission.service.ts
Labels: UI/UX, fbs-core: web, good first issue

#1289 [Core] Add health check
  docker-compose.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/config/SecurityConfig.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/health/DatabaseHealthService.scala
Labels: fbs-core: api

#1294 add ÜB2 template
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Labels: fbs-core: web

#1288 Paste sql in playground
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
Labels: bug, fbs-core: web

#1242 [WEB] Fixed dropdown for task submission
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
Labels: fbs-core: web

#1316 Submission in result table is only displayed correctly for sql
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.html
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.ts
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.scss
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
  modules/fbs-core/web/src/app/service/submission.service.ts
Labels: bug, UI/UX, fbs-core: web

#1246 Show Feedback in Result Panel And Save Tabs' State In Local Storage
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
Labels: fbs-core: web

#1302 [Core] Do not delete local files
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/FsStorageService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/storage/StorageService.scala
Labels: bug, fbs-core: api
