Repository thm-mni-ii/feedbacksystem, pull requests merged in 2023-03, with the labels that each got.

#1168 web export functionality for multiple tasks or all tasks of a course
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/export-tasks-dialog/export-tasks-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/export-tasks-dialog/export-tasks-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/export-tasks-dialog/export-tasks-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/service/task.service.ts
Labels: fbs-core: web

#1181 [API] Configuration to hide the Submission result from the Student
  modules/fbs-core/api/src/main/resources/migrations/16_hide_Submission_result.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/SubmissionController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Submission.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/TaskService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/SubmissionServiceTest.scala
Labels: fbs-core: api

#1179 [Math-Parser] Add comparator support for exponent laws
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparator.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/DebugTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/DivisionReplacingTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/ExponentTransformer.kt
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/transformers/NeutralElementTransformer.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/transformers/DebugTransformerTest.kt
Labels: checker: math

#1184 button to move to next task
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.scss
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
Labels: fbs-core: web

#1186 ci: remove `Add Issue to project`
  .github/workflows/add-issue-to-project.yml
Labels: CI/CD

#1195 build(deps): bump spring-framework from 5.3.25 to 5.3.26 in /modules/fbs-core/api
  modules/fbs-core/api/build.gradle
Labels: dependencies
