Repository thm-mni-ii/feedbacksystem, pull requests merged in 2023-11, with the labels that each got.

#1499 [Docker] Add new db called psql-sharing
  docker-compose.yml
Labels: fbs-core: api, Docker

#1475 [I18N] Add german and english internationalisation
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/all-submissions/all-submissions.component.html
  modules/fbs-core/web/src/app/dialogs/confirm-dialog/confirm-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/course-update-dialog/course-update-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/create-guest-user-dialog/create-guest-user-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/dataprivacy-dialog/dataprivacy-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/export-tasks-dialog/export-tasks-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/goto-links-dialog/goto-links-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/impressum-dialog/impressum-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-db-dialog/new-db-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-sql-template/new-sql-template.component.html
  modules/fbs-core/web/src/app/dialogs/spreadsheet-dialog/spreadsheet-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-points-dialog/task-points-dialog.component.html
  modules/fbs-core/web/src/app/page-components/change-password/change-password.component.html
  modules/fbs-core/web/src/app/page-components/configuration-list/configuration-list.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-results/course-results.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
  modules/fbs-core/web/src/app/page-components/course-preview/course-preview-w-progress.component.html
  modules/fbs-core/web/src/app/page-components/language-picker/language-picker.component.html
  modules/fbs-core/web/src/app/page-components/login/login.component.html
  modules/fbs-core/web/src/app/page-components/my-courses/my-courses.component.html
  modules/fbs-core/web/src/app/page-components/my-courses/my-courses.component.ts
  modules/fbs-core/web/src/app/page-components/new-course/new-course.component.html
  modules/fbs-core/web/src/app/page-components/not-found/not-found.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/search-courses/search-courses.component.html
  modules/fbs-core/web/src/app/page-components/search-courses/search-courses.component.ts
  modules/fbs-core/web/src/app/page-components/sidebar/language-menu/language-menu.component.html
  modules/fbs-core/web/src/app/page-components/sidebar/language-menu/language-menu.component.scss
  modules/fbs-core/web/src/app/page-components/sidebar/language-menu/language-menu.component.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
  modules/fbs-core/web/src/app/page-components/sql-checker/sql-checker.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-co-working/db-control-co-working.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-panel.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-tables/db-scheme-tables.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/dynamic-result-table/dynamic-result-table.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.html
  modules/fbs-core/web/src/app/page-components/subtask-results/subtask-results.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/submission-file/submission-file.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/submission-spreadsheet/submission-spreadsheet.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/user-management/user-management.component.html
  modules/fbs-core/web/src/app/page-components/user-management/user-management.component.ts
  modules/fbs-core/web/src/app/tool-components/participants/participants.component.html
  modules/fbs-core/web/src/app/util/i18n.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
Labels: fbs-core: web, i18n

#1503 add new gast
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Labels: fbs-core: web

#1507 add templates
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Labels: fbs-core: web

#1509 [Playground] Change options and add metrics
  modules/fbs-runner/checker/build.gradle
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/Metrics.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
Labels: fbs-runner: checker, SQL Playground

#1514 adjust template
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Labels: fbs-core: web

#1516 [i18n] Display task deadline
  modules/fbs-core/web/src/app/app.module.ts
Labels: bug, i18n

#1524 1483 api sharing of sql playground copy
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/RunnerApiController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerType.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SharePlaygroundArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/security/SharePlaygroundToken.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SharePlaygroundTokenRepository.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/sharePlaygroundCleanup/SharePlaygroundCleanupService.kt
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SharePlaygroundArgs.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/HttpVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SharePlaygroundVerticle.scala
Labels: fbs-runner: checker, fbs-core: api, Invalid title

#1523 1482 web fronted for sql playground sharing
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
Labels: fbs-core: web, Invalid title

#1522 1481 sql runner support for playground sharing
  modules/fbs-runner/checker/src/main/resources/config.json
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/DBOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLPlaygroundService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/runner/SQLRunnerService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundVerticle.scala
Labels: fbs-runner: checker, Invalid title

#1525 [Playground] Add Database sharing
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/PlaygroundController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/controller/v2/RunnerApiController.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/RunnerType.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundShareArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/SqlPlaygroundShareDeleteArguments.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/SqlPlaygroundShare.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/playground/api/SqlPlaygroundShareResponse.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/SqlPlaygroundCheckerService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/IdService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/misc/SharePlaygroundCleanupService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/persistence/SqlSharePlaygroundShareRepository.kt
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/resources/migrations/19_playground_share_token.sql
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/share-playground-link-dialog/share-playground-link-dialog.component.ts
  modules/fbs-core/web/src/app/model/sql_playground/SQLResponse.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-db-overview/db-control-db-overview.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-playground.component.scss
  modules/fbs-core/web/src/app/service/sql-playground.service.ts
  modules/fbs-runner/checker/Dockerfile
  modules/fbs-runner/checker/src/main/resources/config.json
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/MainVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlNativeOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/types/SqlPlaygroundShareArgs.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/util/PlaygroundDBConnections.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/HttpVerticle.scala
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/verticles/runner/SqlPlaygroundShareVerticle.scala
Labels: fbs-core: web, fbs-runner: checker, fbs-core: api, SQL Playground

#1530 adjust url
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
Labels: fbs-core: web
