Repository thm-mni-ii/feedbacksystem, pull requests merged in 2023-01, with the labels that each got.

#976 [sql-checker] Remove hardcoded mongodb database name
  docker-compose.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerApiController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/SQLCheckerQuery.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-sql-checker/.pylintrc
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/parser.py
Labels: checker: sql

#1076 [Chart] Update App version to 1.4.0
  chart/Chart.yaml
  chart/values.yaml
Labels: helm, ignore-for-release

#1077 [Docker] Resolve naming conflict for sql-checker image
  docker-compose.ci.yml
  docker-compose.yml
  scripts/ci/docker-deploy.sh
Labels: bug, checker: sql, Docker

#1079 [Math-Checker] Prevent error when setting empty cells
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetService.scala
Labels: bug, checker: math

#1084 Tasks are not displayed to students
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
Labels: bug, fbs-core: web

#1086 ci(deploy-test-system): wait until Docker image is deployed
  .github/workflows/deploy-test-system.yml
Labels: CI/CD

#1085 [Excel-Checker] Propagated errors analysis
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/model/v2/checker/excel/Cell.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/services/v2/checker/excel/PropagatedErrorsService.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetReferenceParser.kt
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetValueParser.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/services/v2/checker/excel/PropagatedErrorsServiceTest.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetReferenceParserTest.kt
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/utils/v2/spreadsheet/SpreadsheetTestUtils.kt
Labels: fbs-core: api, checker: excel

#1100 display course progress
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/course-preview/course-preview-w-progress.component.html
  modules/fbs-core/web/src/app/page-components/course-preview/course-preview-w-progress.component.ts
  modules/fbs-core/web/src/app/page-components/course-preview/course-preview.component.scss
  modules/fbs-core/web/src/app/page-components/my-courses/my-courses.component.html
Labels: fbs-core: web

#1082 [Core] Rework ldap authentication
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/security/AntiBruteForceInterceptor.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/LdapService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/util/LDAPConnector.scala
  modules/fbs-core/web/src/app/page-components/login/login.component.ts
  modules/fbs-core/web/src/app/service/auth.service.ts
Labels: fbs-core: api, breaking-change

#1090 After changing the task Media type, the validation will not be reset
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
Labels: bug, fbs-core: web

#1111 [API] add requirementType practice
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
Labels: fbs-core: api, good first issue, docs

#1112 ci: fix add issue to project
  .github/CODEOWNERS
  .github/workflows/add-issue-to-project.yml
  .github/workflows/deploy-test-system.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-runner/checker/build.gradle
  scripts/ci/restart-feedbacksystem.sh
Labels: CI/CD

#1101 [API] Limit the number of submissions done
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/resources/migrations/14_sql_count_submission.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/TaskController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Task.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/DatabaseMigrationService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SubmissionService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/TaskService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/SubmissionServiceTest.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/TaskServiceTest.scala
Labels: fbs-core: api

#1118 [WEB] add requirementType practice
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.scss
Labels: UI/UX, fbs-core: web, good first issue

#1125 Date Time Picker Bug
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
Labels: bug, fbs-core: web

#1123 [Minio] Invalid file encoding when reading configuration files
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/storageBucketName.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/ExcelCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/excel/SpreadsheetFileService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/math/SpreadsheetCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/MinioService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/StorageService.scala
Labels: bug, fbs-core: api

#1050 [User] Add bcrypt password hashing
  docker-compose.test.yml
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/Application.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/LoginController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/UserController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/UserService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/security/LocalLoginService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/security/LocalLoginServiceTest.scala
Labels: fbs-core: api

#1127 docs: Update README
  README.md
  docs/images/SQL-Checker.gif
  docs/images/logo.png
Labels: docs

#1130 [Core] Task Api contains invalid attempts response
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/TaskService.scala
  modules/fbs-core/api/src/test/scala/de/thm/ii/fbs/services/persistence/TaskServiceTest.scala
Labels: bug, fbs-core: api
