Repository thm-mni-ii/feedbacksystem, pull requests merged in 2023-06, with the labels that each got.

#1353 [CI] Adds automated labeling for pull requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: CI/CD

#1356 [CI] Fix labeler paths
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: CI/CD

#1359 [CI] Retry codecov on failure
  .github/actions/retry-codecov/action.yml
  .github/workflows/check-fbs-module.yml
Labels: CI/CD

#1334 Add name of logged in user
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.scss
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.ts
Labels: fbs-core: web

#1361 ci(retry-codecov): increase wait time between retries
  .github/actions/retry-codecov/action.yml
Labels: CI/CD

#1328 fixed state of sql checker configuration
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
Labels: bug, fbs-core: web

#1362 chore(deps): update multiple gradle dependencies
  modules/fbs-core/api/build.gradle
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/MinioService.scala
Labels: dependencies, fbs-core: api, java

#1363 ci(retry-codevoc): not fail ci if first steps fail
  .github/actions/retry-codecov/action.yml
Labels: CI/CD

#1269 remove the emerging blank-page when leaving the sqlplayground route
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
Labels: bug, fbs-core: web

#1312 disabled submission button when no checker provided
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.html
  modules/fbs-core/web/src/app/page-components/task-detail/task-detail.component.ts
  modules/fbs-core/web/src/app/service/checker.service.ts
Labels: fbs-core: web

#1370 Revert "fixed keyword highlight"
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
Labels: bug, fbs-core: web, performance

#1360 [EAT] Improve code style
  modules/fbs-eat/eat/api/analysis/analysis.py
  modules/fbs-eat/eat/api/dashboard/dashboard.py
  modules/fbs-eat/eat/api/data_table/table.py
  modules/fbs-eat/eat/api/util/analysis_util.py
  modules/fbs-eat/eat/api/util/dashboard_util.py
  modules/fbs-eat/eat/api/util/utilities.py
Labels: fbs-eat

#1368 [EAT] reduced time to convert dataframes to JSON
  modules/fbs-eat/eat/api/analysis/analysis.py
  modules/fbs-eat/eat/api/connect/data_service.py
  modules/fbs-eat/eat/api/dashboard/dashboard.py
Labels: bug, fbs-eat, performance

#1371 Added option to exclude IP addresses from brute force protection
  modules/fbs-core/api/src/main/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptor.kt
  modules/fbs-core/api/src/main/resources/application.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/config/WebConfig.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/security/AntiBruteForceInterceptor.scala
  modules/fbs-core/api/src/test/kotlin/de/thm/ii/fbs/security/v2/AntiBruteForceInterceptorTest.kt
Labels: fbs-core: api
