Repository thm-mni-ii/feedbacksystem, pull requests merged in 2023-04, with the labels that each got.

#1206 [Bash] Pin bash image to alpine 3.16
  runtime-images/bash/Dockerfile
Labels: bug, Docker

#1205 [Web] Fix change password button visabilty
  modules/fbs-core/api/build.gradle
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Labels: bug, fbs-core: web

#1221 [WEB] Arrange items per page selection correctly
  modules/fbs-core/web/src/app/tool-components/participants/participants.component.scss
Labels: UI/UX, fbs-core: web

#1222 [WEB] Jump to the newly created tab in the SQL Playground
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.ts
Labels: usability, UI/UX, fbs-core: web, SQL Playground
