Repository thm-mni-ii/feedbacksystem, pull requests merged in 2024-12, with the labels that each got.

#1712 add Online-Marktplatzsystem
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Labels: fbs-core: web

#1714 feat(core): integrate scicheck
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/HomeController.scala
  modules/fbs-core/web/src/app/app-routing.module.ts
  modules/fbs-core/web/src/app/app.module.ts
  modules/fbs-core/web/src/app/page-components/fbs-sci-check/fbs-sci-check.component.html
  modules/fbs-core/web/src/app/page-components/fbs-sci-check/fbs-sci-check.component.scss
  modules/fbs-core/web/src/app/page-components/fbs-sci-check/fbs-sci-check.component.ts
  modules/fbs-core/web/src/app/page-components/sidebar/sidebar.component.html
Labels: fbs-core: web, fbs-core: api

#1527 Distance measure implementation
  .github/workflows/check-fbs-python-module.yml
  docker-compose.yml
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/CheckerConfigurationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/CheckerTypeInformation.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/SQLCheckerQuery.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/checker/SqlCheckerRemoteCheckerService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/SQLCheckerService.scala
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/new-checker-dialog/new-checker-dialog.component.ts
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/model/CheckerConfig.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/sql-input-tabs.component.html
  modules/fbs-sql-checker/.dockerignore
  modules/fbs-sql-checker/.gitignore
  modules/fbs-sql-checker/.pre-commit-config.yaml
  modules/fbs-sql-checker/.pylintrc
  modules/fbs-sql-checker/Dockerfile
  modules/fbs-sql-checker/README.md
  modules/fbs-sql-checker/api/__init__.py
  modules/fbs-sql-checker/api/attribute_common.py
  modules/fbs-sql-checker/api/comparator/__init__.py
  modules/fbs-sql-checker/api/comparator/comparator.py
  modules/fbs-sql-checker/api/comparator/sqlparse_comparator.py
  modules/fbs-sql-checker/api/comparator/sqlparse_comparator_test.py
  modules/fbs-sql-checker/api/data_store.py
  modules/fbs-sql-checker/api/datatypes.py
  modules/fbs-sql-checker/api/debug.py
  modules/fbs-sql-checker/api/distance/.gitignore
  modules/fbs-sql-checker/api/distance/__init__.py
  modules/fbs-sql-checker/api/distance/attribute_check.py
  modules/fbs-sql-checker/api/distance/attribute_distance.py
  modules/fbs-sql-checker/api/distance/constants.py
  modules/fbs-sql-checker/api/distance/db_connection.py
  modules/fbs-sql-checker/api/distance/distance_calc.py
  modules/fbs-sql-checker/api/distance/docker-compose.yml
  modules/fbs-sql-checker/api/distance/equation_checker.py
  modules/fbs-sql-checker/api/distance/format.py
  modules/fbs-sql-checker/api/distance/result_log.py
  modules/fbs-sql-checker/api/distance/table_check.py
  modules/fbs-sql-checker/api/distance/table_distance.py
  modules/fbs-sql-checker/api/error.py
  modules/fbs-sql-checker/api/formatting.py
  modules/fbs-sql-checker/api/json_creator.py
  modules/fbs-sql-checker/api/main.py
  modules/fbs-sql-checker/api/mask_aliases.py
  modules/fbs-sql-checker/api/model.py
  modules/fbs-sql-checker/api/modules/fbs-sql-checker/api/distance/log/distance.txt
  modules/fbs-sql-checker/api/parse_data_through_checker.py
  modules/fbs-sql-checker/api/parser.py
  modules/fbs-sql-checker/api/pro_attribute_checker.py
  modules/fbs-sql-checker/api/query_processor.py
  modules/fbs-sql-checker/api/sel_attribute_checker.py
  modules/fbs-sql-checker/api/solution_fetcher.py
  modules/fbs-sql-checker/api/table_checker.py
  modules/fbs-sql-checker/api/test_json_creator.py
  modules/fbs-sql-checker/poetry.lock
  modules/fbs-sql-checker/pyproject.toml
Labels: CI/CD, fbs-core: web, fbs-core: api, checker: sql, Docker

#1715 fix(sql-playground): fix Online-Marktplatzsystem template
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Labels: bug, fbs-core: web
