Repository thm-mni-ii/feedbacksystem, pull requests merged in 2024-01, with the labels that each got.

#1436 [Math-Checker] Resolve problem with frac and unary minus
  modules/fbs-core/math-parser/src/main/antlr/de/thm/ii/fbs/mathParser/Math.g4
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/AstBuilder.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
Labels: fbs-core: api, checker: math

#1494 [Math-Parser] Support Unicode exponents
  modules/fbs-core/math-parser/src/main/antlr/de/thm/ii/fbs/mathParser/Math.g4
  modules/fbs-core/math-parser/src/main/kotlin/de/thm/ii/fbs/mathParser/AstBuilder.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/MathParserHelperTest.kt
  modules/fbs-core/math-parser/src/test/kotlin/de/thm/ii/fbs/mathParser/SemanticAstComparatorTest.kt
Labels: checker: math

#1548 [Math-Checker] Add submission content view for lectures and students
  modules/fbs-core/web/src/app/page-components/results/results.component.html
  modules/fbs-core/web/src/app/page-components/results/results.component.ts
Labels: fbs-core: web

#1550 [Runner] Modified writeQuery to make the dump works without issues
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
Labels: fbs-runner: checker

#1552 [Math-Checker] Update mathlive to version 0.98.5
  modules/fbs-core/web/package-lock.json
  modules/fbs-core/web/package.json
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.scss
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.ts
Labels: dependencies, fbs-core: web

#1553 [Math-Checker] Repair overflow scrollbar
  modules/fbs-core/web/src/app/tool-components/math-input/math-input.component.scss
Labels: bug, fbs-core: web

#1554 [API] Add modelling to home controller routes
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/HomeController.scala
  modules/fbs-core/web/src/app/page-components/fbs-modelling/fbs-modelling.component.ts
Labels: fbs-core: web, fbs-core: api

#1557 [Playground ] insert sql code from power point to playground
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.scss
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
Labels: fbs-core: web

#1558 [WEB] course creation and task assignment
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.html
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.scss
  modules/fbs-core/web/src/app/dialogs/task-new-dialog/task-new-dialog.component.ts
  modules/fbs-core/web/src/app/enums/taskUpdateConditions.ts
  modules/fbs-core/web/src/app/model/SelectedFormFields.ts
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.scss
  modules/fbs-core/web/src/app/page-components/course-detail/course-detail.component.ts
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.html
  modules/fbs-core/web/src/app/page-components/course-detail/task-preview/task-preview.component.ts
  modules/fbs-core/web/src/app/service/task.service.ts
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
Labels: fbs-core: web

#1556 [Playground] show parameters for stored procedures/functions
  modules/fbs-core/web/src/app/model/sql_playground/Routine.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-routines/db-scheme-routines.component.html
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme.component.scss
  modules/fbs-core/web/src/i18n/de.ts
  modules/fbs-core/web/src/i18n/en.ts
  modules/fbs-core/web/src/styles.scss
  modules/fbs-runner/checker/src/main/scala/de/thm/ii/fbs/services/db/PsqlOperationsService.scala
Labels: fbs-core: web, fbs-runner: checker
