Repository thm-mni-ii/feedbacksystem, pull requests merged in 2024-05, with the labels that each got.

#1649 adding mongodb and minio to core depencies in docker-compose.yml
  docker-compose.yml
Labels: fbs-core: api, Docker

#1647 adding äÄöÖüÜß§²³°´? to allowed chars in sql play ground
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
Labels: fbs-core: web

#1640 [API] Add group creation and registration functionality
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/resources/migrations/20_group_field_added.sql
  modules/fbs-core/api/src/main/resources/migrations/21_user_group_field_added.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/GroupController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/GroupRegistrationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/exception/MembershipExceededException.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Group.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/GroupRegistrationService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/GroupService.scala
Labels: fbs-core: api

#1660 PLZ is now CHAR(5) not VARCHAR(5)
  .github/workflows/check-fbs-module.yml
  docker-compose.yml
  modules/fbs-core/api/api-docs.yml
  modules/fbs-core/api/src/main/resources/migrations/20_group_field_added.sql
  modules/fbs-core/api/src/main/resources/migrations/21_user_group_field_added.sql
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/GroupController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/GroupRegistrationController.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/controller/exception/MembershipExceededException.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/model/Group.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/GroupRegistrationService.scala
  modules/fbs-core/api/src/main/scala/de/thm/ii/fbs/services/persistence/GroupService.scala
  modules/fbs-core/web/src/app/page-components/sql-playground/sql-input-tabs/highlighted-input/highlighted-input.component.ts
Labels: CI/CD, fbs-core: web, fbs-core: api, Docker
