Repository thm-mni-ii/feedbacksystem, pull requests merged in 2025-01, with the labels that each got.

#1718 fix(playground): resolve bugs
  modules/fbs-core/web/src/app/dialogs/new-db-dialog/new-db-dialog.component.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/collab/collab.backend.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/collab/local.backend.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/state/sql-playground.effects.ts
Labels: bug, fbs-core: web

#1720 fix(playground): adjust type in template
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/db-control-templates/db-control-templates.component.ts
Labels: fbs-core: web

#1722 fix(playground): repair trigger display
  docker-compose.yml
  modules/fbs-collab/src/app.ts
  modules/fbs-core/web/src/app/model/sql_playground/Trigger.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-scheme/db-scheme-triggers/db-scheme-triggers.component.html
Labels: bug, fbs-core: web, fbs-core: api, Docker, SQL Playground

#1724 fix(playground): remove database loading race condition
  modules/fbs-core/web/src/app/page-components/sql-playground/collab/collab.backend.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/state/databases.effects.ts
Labels: bug, fbs-core: web, SQL Playground

#1725 fix(playground): fix race condition in sql playground loading
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/state/databases.effects.ts
  modules/fbs-core/web/src/app/page-components/sql-playground/db-control-panel/state/groups.effects.ts
Labels: bug, fbs-core: web, SQL Playground
